{% extends "base.html" %}

{% block content %}
    <style>

    .container {
        padding: 20px;
    }

    .product-card {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.2s;
    }



    .product-info {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }


</style>
    <div class="container">
        <div class="product-card">
            <div class="product-info">

            <h1>{{ part.part_name }} </h1>
                <p>marki {{part.group}}</p>
            <p>Opis: {{ part.description }}</p>
            <p>Cena: {{part.price}}</p>

            <form method="POST" action="{{ url_for('cart.add_to_cart', part_id=part.id) }}">
                <input type="number" name="quantity" value="1" min="1" style="width: 50px;">
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>

            </div>
        </div>
    </div>
{% endblock %}

