{% extends "base.html" %}

{% block content %}
    <style>

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 70vh;
        }

        .card {
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card-body {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 5px;
            border: 1px solid #b2bec3;
            padding: 10px;
        }

        .form-control:focus {
            border-color: #0879ee;
            box-shadow: 0 0 0 0.2rem rgba(116, 117, 119, 0.25);
        }

        .btn-primary {
            background: #00c9ff;
            border: none;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
            transition: background 0.3s;
            display: inline-block;
            text-align: center;
        }

        .btn-primary:hover {
            background: #597a9f;
        }

        a.text-primary {
            color: #1677c9;
            font-weight: bold;
        }

        a.text-primary:hover {
            color: #143060;
        }

        .text-danger {
            font-size: 0.9rem;
            margin-top: 0.5rem;
        }
        .text-center {
            margin-bottom: 0.8rem;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    </style>

    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="text-center">Zaloguj się</h2>
                <form action="" method="post" novalidate>
                    <p class="text-center">Jesteś nowy?</p>
                    <a href="{{ url_for('auth.register') }}" class="text-primary text-center">Kliknij, aby się zarejestrować!</a>

                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.username.label(class="form-label") }}
                        {{ form.username(class="form-control", size=32) }}
                        {% for error in form.username.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control", size=32) }}
                        {% for error in form.password.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <a>Zapomniałeś hasła? </a>
                    </div>
                    <div class="mb-3 text-center">
                        <a  href="{{ url_for('auth.reset_password_request') }}" class="text-primary">Naciśnij aby je zrestartować</a>
                    </div>
                    <div class="mb-3 form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    <div class="text-center">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
