<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Samochodoza</title>
      {% else %}
      <title>Welcome to Samochodoza</title>
      {% endif %}
    </head>
    <body>
        <div>Samochodoza:
            <a href="{{ url_for('main.index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
            {% if current_user.is_admin %}
            <a href="{{ url_for('admin.index') }}">AdminPanel</a>
            {% endif %}
            <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('shop.parts') }}">Parts</a>
            <a href="{{ url_for('cart.view_cart') }}">Cart</a>
            <a href="{{ url_for('checkout.view_orders') }}">Orders</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>

            <form method="GET" action={{url_for('shop.parts')}}>
            <input type="text" name="search" placeholder="Wyszukaj części..." value="{{ search_query }}">
            <button type="submit">Szukaj</button>
            </form>

            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>